@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import './text-n-font.scss';

body {
    background-image: url('../img/dope-space-img.jpg');
    background-size: cover; 
}

main {
    border: blue solid 2px;
}

.main-tag-row-div {
    background-color: grey;
}
.question {
    border: red solid 2px;
}

.tally-paragraph {
    border: brown solid 2px;
}

// .tally-dv {
//     width: 200px;
//     display: block;
// }

//Make game responsive
//need to add container classes to main and div tags.
//set columns and rows
//Define column of question lengths based on screen size.
//Decide button placement based on screen size
//set borders and margins for: buttons & question
//Style the buttons themselves
//Add background image or color (create a cool battlestar theme)
//