@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import './text-n-font.scss';

main {
    border: blue solid 4px;
}
.question {
    border: red solid 5px;
}

.possible-answer {
    margin: 8px;
}